.panel-container iframe {
  border: 0;
  background-color: #606060;
  width: 100%;
  height: 560px;
  overflow: hidden;
}

.panel-container {
  width: 100%;
  margin: 0 auto;
}

.mdl-form__control.mdl-form__webview {
  background-color: #6F6F6F;
}

.mdl-form__row {
  background-color: #6F6F6F;
}

.mdl-color_text--grey-700 {
  background-color: #6F6F6F;
}

